html * {
    font-family: 'Merriweather', 'Roboto';
}

.nav-link {
    font-size: 3em;
}

#brandLogo {
    height: 80vh;
    
}

#home img {
    margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
    .navbar-nav {
        margin-left: 25em;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1399px) {
    .navbar-nav {
        margin-left: 7em;
    }
    #instagramLogo {
        width: 25rem;
    }
}

#inventoryManager {
    padding: none;
    width: 98vw;
    height: 80vh;
}

#aboutList {
    padding-left: 0;
}

#aboutList li {
    padding: 10px;
}

.contactLogo {
    width: 3em;
}

.content * {
    text-transform: lowercase;
}

.indented {
    margin-left: 5em;
}

#instagramLogo {
    width: 3.5rem;
}

#gallery { 
    width: 90vw;
}

.navbar-brand * { 
    font-family: 'Unna', 'Merriweather'!important;
    display: inline-flex;
}

@media only screen and (max-width: 336px) {

    .navbar-brand {
        margin-right: 0;
    }
}