html * {
    font-family: 'Merriweather', 'Roboto';
}

.nav-link {
    @media (min-width: 1400px) {
        font-size: 3rem;
    }
    @media (min-width: 992px) and (max-width: 1399px) {
        font-size: 2rem;
    }
    @media (max-width: 991px) {
        font-size: 3rem;
    }
}

#brandLogo {
    height: 80vh;
}

#home img {
    margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
    .navbar-nav {
        margin-left: 25em;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1399px) {
    .navbar-nav {
        margin-left: 7em;
    }
    #instagramLogo {
        width: 25rem;
    }
}

#inventoryManager {
    padding: none;
    width: 98vw;
    height: 80vh;
}

#aboutList {
    padding-left: 0;
}

#aboutList li {
    padding: 10px;
}

.contactLogo {
    width: 3em;
}

.content * {
    text-transform: lowercase;
}

.indented {
    margin-left: 5em;
}

#instagramLogo {
    width: 3.5rem;
}

.navbar-brand * { 
    font-family: 'Unna', 'Merriweather'!important;
    display: inline-flex;
}

.card {
    border: 0;
    margin: .25em;
    transition: all .3s ease-in-out;
}

@media (min-width: 992px) {
    .card:hover, .card:focus {
        z-index: 100;
        transform: scale(1.34);
        box-shadow: 0px 0px .5em black;
    }
}

#menuButton {
    width: 5rem;
    border: none;
    margin-left: 1em;
}